@model StudentModel

<h1>Student Details</h1>

@* @await Html.PartialAsync("~/View/Student/_DateTime.cshtml"); *@

@{
    await Html.RenderPartialAsync("_DateTime");
}

<table>
    <thead>
        @{
            var student = ViewData["input"] as WebApp.Mvc.Models.StudentModel;
            var studentObj = ViewBag.input;
            var today_date = TempData["date"];

        }
        Date : @today_date
        Students Details of @student.Name, belongs to section @studentObj.Section

        
    </thead>

    @if (Model.Id > 0)
    {
        <tbody>
            <tr><th>Id</th><th>Name</th><th>Section</th><th>Address</th></tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Section</td>
                <td>@Model.Address</td>                
            </tr>
        </tbody>
    }
    else
    {
        <br />
        <span>Student record isn't available !</span>
    }
</table>






